
<div class="container anchor" id="process"></div>


<div class="product_image">
  <p>
    <%= image_tag(@product.image_url, class: "display_image", width: "620", data_zoom_image: "#{ @product.image_url }") %>
  </p>
</div>

<div class="edit_back">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

<%= form_tag "/payments" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <%= hidden_field_tag :product_id, @product.id %>
<% end %>

 <%= render partial: 'comments/new_comment' %>
 <%= render 'comments/comments' %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

